{% extends "base.html" %}

{% block conteudo %}
    <div class="view hm-white-light jarallax marginTopHome bgCertificados" data-jarallax='{"speed": 0.2}'>
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row">
                    <div class="col-md-12 wow fadeIn">
                        <div class="text-center titleFontProperties">
                            <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Certificados</h1>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}