{% include 'imports.html' %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de acompanhamento - Aluno</title>
</head>
<body>

<div class="container containerTamanho">
    <nav>
        <div class="nav-wrapper">
            <img class="logoProperties" src="../static/pix/logo.svg" alt="EVL">

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons texto-cinza">menu</i></a>

            <ul class="right hide-on-med-and-down">
                <li class="active"><a  class="texto-cinza" href="https://www.jquery-az.com/jquery-tips/">jQuery</a></li>
                <li><a class="texto-cinza" href="https://www.jquery-az.com/javascript-tutorials/">JavaScript</a></li>
                <li><a class="texto-cinza" href="https://www.jquery-az.com/html-tutorials/">HTML</a></li>
                <li><a class="texto-cinza" href="https://www.jquery-az.com/css-tutorials/">CSS</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="active"><a class="texto-cinza" href="https://www.jquery-az.com/jquery-tips/">jQuery</a></li>
                <li><a class="texto-cinza" href="https://www.jquery-az.com/javascript-tutorials/">JavaScript</a></li>
                <li><a class="texto-cinza" href="https://www.jquery-az.com/html-tutorials/">HTML</a></li>
                <li><a class="texto-cinza" href="https://www.jquery-az.com/css-tutorials/">CSS</a></li>
            </ul>
        </div>
    </nav>

</div>

</body>
<script>
    $(".button-collapse").sideNav();
</script>


</html>