{% include 'imports.html' %}
<html lang="pt-br">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <header>
        {% include 'header.html' %}
    </header>
    <meta charset="UTF-8">
    <title>Aluno</title>
</head>
<body>
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav tamNavBar">
                <li class="active">
                    <a href="#">Home
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
                    </a>
                </li>

                <li ><a href="{% url 'meusCursos' %}">Cursos<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                <li ><a href="{% url 'comprovantes' %}">Comprovantes<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon far fa-file"></span></a></li>
                <li ><a href="{% url 'certificados' %}">Certificados<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon fa fa-graduation-cap"></span></a></li>
            </ul>
        </div>
    </div>
</nav>


    <div class="view hm-white-light jarallax marginTopHome bgHome" data-jarallax='{"speed": 0.2}'>
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row">
                    <div class="col-md-12 wow fadeIn">
                        <div class="text-center titleFontProperties">
                            <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Página do Aluno</h1>
                            <hr class="my-4">
                            <a href="{% url 'meusCursos' %}" class="btn btn-primary btn-lg wow fadeInDown" data-wow-delay="0.4s"><i class="fa fa-list-ul"></i> Meus Cursos</a>
                            <a href="{% url 'comprovantes' %}" class="btn btn-success btn-lg wow fadeInDown" data-wow-delay="0.4s"><i class="far fa-file"></i> Comprovantes</a>
                            <a href="{% url 'certificados' %}" class="btn btn-danger btn-lg wow fadeInDown" data-wow-delay="0.4s"><i class="fa fa-graduation-cap"></i> Certificados</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        {% include 'footer.html' %}
    </footer>
</body>

<script src="https://headervideo.github.io/hvheadervideo/js/mdb.min.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/jarallax.js"></script>
<script src="https://headervideo.github.io/hvheadervideo/js/jarallax-video.js"></script>
</html>
