.containerTamanho{
    margin: 0 auto;
    width: 100%;
}
nav {
    color: #000000 !important;
    background-color: #FFF5EE !important;
}

.page-footer {
    color: #000000 !important;
    background-color: #FFF5EE !important;
}
@media only screen and (min-width: 993px) {
    .containerTamanho {
        width: 100%;
    }

    .logoProperties{
        margin: 1% !important;
        width: 100px;
        height: 40px;
    }


}

@media only screen and (min-width:  601px) {
    .containerTamanho {
        width: 100%;
    }
    .logoProperties{
        width: 100px;
        height: 40px;
        margin-left: 40%;
        margin-top: 1%;
    }

}

.texto-cinza{
    color: #4F4F4F !important;
}

.texto-cinza-claro{
    color: #696969 !important;
}
.layoutBasicOrientation{
    padding: 1%;
}
.columnOrientations{
    max-width: 33%;
}



